// COLORS
$color-primary: #a32f80;

$color-secondary: #341677;

$color-white: #fff;
$color-black: #000;

$color-dark-1: #121212;
$color-dark-2: #1c1d1f;

$color-grey-1: #4b4b4b;

$color-light-grey-1: #f4f4f4;
$color-light-grey-2: #eeeeee;
