.top-header {
  background-color: $color-secondary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7rem;
  height: 6rem;
  @media only screen and (max-width: $bp-smallest) {
    flex-wrap: wrap;
    align-content: space-around;
    padding: 0 0;
    height: 11rem;
  }

  &__logo {
    font-size: 2rem;
    font-weight: 700;
    color: $color-white;
    @media only screen and (max-width: $bp-smallest) {
      margin-left: 2rem;
    }
  }

  &__search {
    flex: 0 0 60%;

    @media only screen and (max-width: $bp-smallest) {
      order: 1;
      flex: 0 0 100%;
    }

    &--form {
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
    }

    &--input {
      width: 70%;
      border-radius: 5px 0 0 5px;
      padding: 1rem;
      font-family: "Roboto Condensed", sans-serif;
      font-size: 1.4rem;
      border: none;

      @media only screen and (max-width: $bp-smallest) {
        width: 90%;
        font-size: 1.6rem;
        border-radius: 0 0 0 0;
      }
    }

    &--btn {
      padding: 1rem 1.3rem;
      border: none;
      background-color: $color-primary;
      border-radius: 0 5px 5px 0;

      @media only screen and (max-width: $bp-smallest) {
        border-radius: 0 0 0 0;
        padding: 1rem 1.7rem;
      }
    }

    &--icon {
      width: 1.2rem;
    }
  }

  &__navbar {
    display: flex;
    align-items: center;

    @media only screen and (max-width: $bp-smallest) {
      margin-right: 2rem;
    }
  }

  &__nav {
    color: $color-white;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    ul {
      display: flex;
      list-style: none;
      margin-top: 0.9rem;
    }

    li {
      font-size: 1.5rem;
      padding: 0 1rem;

      @media only screen and (max-width: $bp-smallest) {
        font-size: 1.8rem;
      }
    }

    a {
      color: $color-white;
      text-decoration: none;
    }
  }

  &__cart {
    position: relative;
    padding: 0 1em;

    img {
      width: 3rem;
    }

    &--count {
      box-sizing: content-box;
      position: absolute;
      top: 0;
      right: 0;
      background-color: red;
      color: $color-white;
      border-radius: 100%;
      width: 1.5rem;
      height: 1.5rem;
      font-size: 1rem;
      border: 3px solid $color-secondary;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.main-header {
  background-color: $color-white;
  height: 5rem;
  box-shadow: 0 0 2rem rgba($color-black, 0.1);
  display: flex;
  align-items: center;

  &__menu {
    flex: 0 0 10%;
    background-color: $color-primary;
    height: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    p {
      font-weight: 500;
      font-family: "Roboto Condensed", sans-serif;
      color: $color-white;
      font-size: 2rem;
      margin: 0;

      @media only screen and (max-width: $bp-medium-small) {
        display: none;
      }
    }
  }

  &__toggler {
    display: none;
    @media only screen and (max-width: $bp-medium-small) {
      display: block;
    }
  }

  &__nav {
    font-family: "Roboto Condensed", sans-serif;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;

    @media only screen and (max-width: $bp-medium-small) {
      display: none;
    }

    .mainMenu {
      display: flex;
      list-style: none;
      justify-content: center;
      margin: 0;
      height: 100%;

      &-item {
        font-size: 1.8rem;
        text-transform: uppercase;
        padding: 0 2rem;
        height: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
        // position: relative;

        transition: all 0.3s;

        &:hover > a {
          color: $color-primary !important;
        }

        &:hover .subMenu {
          // display: block;
          opacity: 1;
          transform: translateY(0);
          visibility: visible;
        }
      }

      &-link {
        color: $color-secondary;
        transition: all 0.3s;
        align-self: center;
      }
    }

    .subMenu {
      z-index: 1;
      display: flex;
      transform: translateY(-20px);
      visibility: hidden; /* should be none*/
      opacity: 0; /* should be 0*/
      font-family: "Roboto", sans-serif;
      position: absolute;
      background-color: $color-white;
      box-shadow: 0 0 2rem rgba($color-black, 0.1);
      justify-content: space-between;
      padding: 30px;
      // margin: 0 80px;
      list-style: none;

      top: 11rem;
      left: 30rem;
      width: 70vw;
      // height: 500px;
      @media only screen and (max-width: $bp-large) {
        left: 13rem;
        width: 80vw;
      }

      @media only screen and (max-width: $bp-medium) {
        left: 9rem;
        width: 80vw;
      }

      transition: all 0.5s;

      &-image {
        width: 150px;
        height: 200px;
        background-image: url(../../../images/test.jpg);
        background-position: center;
      }

      &-item {
        font-size: 1.5rem;
        font-weight: 600;
        text-transform: capitalize;
      }

      &-link {
        color: $color-black;
      }

      &__miniMenu {
        list-style: none;
        font-weight: 400;
        line-height: 2rem;

        &-item {
          font-size: 1.4rem;
        }

        &-link {
          color: $color-grey-1;
          // transition: all 0.3s;

          &:hover {
            color: lighten($color-primary, 10);
          }
        }
      }
    }
  }
}

.mainSideBar {
  @media only screen and (max-width: $bp-medium-small) {
    // display: block;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    transition: all 0.3s;

    &-logo {
      margin-left: 20px;
      margin-top: 15px;
    }

    &-menu {
      overflow-y: auto;

      display: flex;
      flex-direction: column;
      list-style: none;
      width: 90%;
      height: 100%;
      background-color: $color-white;

      transition: all 0.3s;
    }

    &-item {
      border-bottom: 0.0625rem solid #e5e3e5;
      font-size: 1.6rem;
      padding: 15px;
    }

    &-link {
      padding: 20px;
      color: $color-dark-1;
      padding: 0.8125rem 0.9375rem;
      position: relative;
      display: block;

      &:hover,
      &:focus,
      &:active {
        color: $color-primary;
      }
    }

    &-cancel {
      position: absolute;
      right: 60px;
      top: 10px;
      width: 28px;
      height: 28px;
      opacity: 0.3;

      &:hover {
        opacity: 1;
      }
      &:before,
      &:after {
        position: absolute;
        left: 15px;
        content: " ";
        height: 33px;
        width: 2px;
        background-color: #333;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }

  .subSideBar {
    @media only screen and (max-width: $bp-medium-small) {
      &-menu {
        // display: block;
        flex-direction: column;
        list-style: none;
        background-color: $color-white;
      }

      &-item {
        border-bottom: 0.0625rem solid #e5e3e5;
        font-size: 1.6rem;
        padding: 15px;

        &:last-child {
          border-bottom: none;
        }
      }

      &-link {
        color: $color-dark-1;
        padding: 0.8125rem 0 0.8125rem 0.9375rem;

        &:hover,
        &:focus,
        &:active {
          color: $color-primary;
        }
      }
    }
  }

  .miniSideBar {
    @media only screen and (max-width: $bp-medium-small) {
      &-menu {
        flex-direction: column;
        list-style: none;
        background-color: $color-white;
      }

      &-item {
        border-bottom: 0.0625rem solid #e5e3e5;
        font-size: 1.6rem;
        padding: 5px;

        &:last-child {
          border-bottom: none;
        }
      }

      &-link {
        color: $color-dark-1;
        padding: 0.8125rem 0 0.8125rem 3.9375rem;

        &:hover,
        &:focus,
        &:active {
          color: $color-primary;
        }
      }
    }
  }

  .subMenu-hasChild::after {
    content: " ";
    background-image: url(../../../images//right-arrow-icon.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 10px;
    right: 5px;
    width: 12px;
    height: 12px;
  }
}

.mainSideBar-close {
  background-color: unset;
  opacity: 0;
  visibility: hidden;
  display: none;
  transition: all 0.3s;

  &-menu {
    transform: translateX(-100px);
    transition: all 1s;
  }
}

.mainSideBar-shown {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
  visibility: visible;
  // display: block;
  transition: all 1s;

  &-menu {
    transform: translateX(0);
  }
}
